<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAD移动互联网用户行为分析系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href=" ../css/img/favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="header clearfix">
        <div class="logo"></div>
        <!--标题写这里-->
        <h1>CAD移动互联网用户行为分析系统</h1>
    </div>
    <div class="menu-wrapper">
        
    </div>
    <div class="main-content">
        <!--你们的内容写在这里-->
        

        
    </div>
    <!--放在最下面，如要更改位置，请保持基本顺序不变-->
    <script src="../js/sea.js"></script>
    <script>
        seajs.config({
            alias: {
                "jquery": "./jquery.min.js",
                "bootstrap": "./bootstrap.min.js"
            }
        });
        //这里更改接口路径 及相应的get/post方法
        seajs.use('', function(){
            
        });
    </script>
</body>
</html>
