<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAD移动互联网用户行为分析系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href=" ../css/img/favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="header clearfix">
        <div class="logo"></div>
        <!--标题写这里-->
        <h1>CAD移动互联网用户行为分析系统</h1>
    </div>
    <div class="menu-wrapper">
        
    </div>
    <div class="main-content">
        <!--你们的内容写在这里-->
        <div class="mining-content">
            <h3>数据挖掘</h3>
            <button id="viewHistory" class="btn btn-d-blue" style="position: absolute; right: 30px; top: 40px">查看历史消息</button>
            <hr>
            <div class="c-div" id="page-menu-wp">
                
            </div>
            <div class="c-div-no-border" id="tabsInMining">
                
            </div>
        </div>
        <div class="history-content hide">
            <h3>数据挖掘</h3>
            <hr>
            <div class="history-list-wp">
                <div class="c-div">
                    <table class="table table-striped" id="history-list-table">
                        <thead>
                            <tr>
                                <td>任务ID</td>
                                <td>算法名称</td>
                                <td>参数</td>
                                <td>提交时间</td>
                                <td>完成时间</td>
                                <td>状态</td>
                                <td>分析结果</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background: #FFF">历史记录暂无</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="history-detail-wp hide">
                <button class="btn btn-d-blue return" style="margin-bottom: 30px">返回</button>
                <div class="c-div">
                    <div class="c-div-header">
                        结果分析
                    </div>
                    <div class="c-div-content">
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script type="text/html" id="history-list-tmpl">
        {{each jobs as value i}}
            <tr data-id="{{value.jobId}}">
                <td>{{value.jobId}}</td>
                <td>{{value.algName}}</td>
                <td>{{value.para}}</td>
                <td>{{value.submitDate}}</td>
                <td>{{value.finishDate}}</td>
                {{if value.status == 100}}
                    <td>正在执行</td>
                {{else if value.status == 200}}
                    <td>执行成功</td>
                {{else if value.status == 300}}
                    <td>执行失败</td>
                {{/if}}
                <td><a href="javascript: void(0);" class="opt view">查看</a></td>
            </tr>
        {{/each}}
    </script>
    <script type="text/html" id="cluster-prop-tr">
        {{each detail as value i}}
            <tr>
                <td><input type="checkbox" name="prop-check" class="cluster-prop-checkbox" data-id="{{value.id}}"></td>
                <td>{{value.name}}</td>
                <td>{{value.meaning}}</td>
                <td>{{value.type}}</td>
            </tr>
        {{/each}}
    </script>
    <script type="text/html" id="page-menu">
        {{if type == 'classify'}}
            <div class="c-div-header">
                分类分析向导
            </div>
            <div class="c-div-content">
                <ul class="label-ul">
                    <li class="active" id="menu-step1">训练集选择<i></i></li>
                    <li id="menu-step2">训练模型属性<i></i></li>
                    <li id="menu-step3">分类数据选择<i></i></li>
                    <li id="menu-step4">结果确认<i></i></li>
                </ul>
            </div>
        {{else if type == 'cluster'}}
            <div class="c-div-header">
                聚类分析向导
            </div>
            <div class="c-div-content">
                <ul class="label-ul">
                    <li class="active" id="menu-step1">数据源选择<i></i></li>
                    <li id="menu-step2">聚类属性选择<i></i></li>
                    <li id="menu-step3">算法选择设置<i></i></li>
                    <li id="menu-step4">结果确认<i></i></li>
                </ul>
            </div>
        {{/if}}
    </script>
    <script type="text/html" id="page-content">
        {{if type == 'classify'}}
            <div class="c-div" id="step1">
                <div class="c-div-header">
                    训练集选择
                </div>
                <div>
                    <select name="" id="data-source-list">
                        <option value="">训练集选择</option>
                    </select>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="1" data-type="list1" data-target="data-source-list" data-nextapi="getDMAlg" data-source="step2">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step2">
                <div class="c-div-header">
                    训练模型属性
                </div>
                <div>
                   <div>
                        <label for="">分类器选择：</label>
                        <select name="" id="alg-select">
                            <option value="">算法选择</option>
                        </select>
                    </div>
                    <div id="alg-div">

                    </div>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step1">上一步</button>
                        <button class="btn btn-d-blue" data-val="1" data-type="get" data-nextapi="listAllSources" data-source="step3">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step3">
                <div class="c-div-header">
                    分类数据集选择
                </div>
                <div>
                    <select name="" id="data-source-list2"  class="data-source-select">
                        <option value="">分类数据集选择</option>
                    </select>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step2">上一步</button>
                        <button class="btn btn-d-blue" data-val="1" data-type="list2" data-nextapi="submitDMJob" data-source="step4">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step4">
                <div class="c-div-header">
                    结果分析
                </div>
                <div >
                    <div id="result-div"></div>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step3">上一步</button>
                    </div>
                </div>
            </div>
        {{else if type == 'cluster'}}
            <div class="c-div" id="step1">
                <div class="c-div-header">
                    数据源选择
                </div>
                <div>
                    <select name="" id="data-source-list" class="data-source-select">
                        <option value="">数据源选择</option>
                    </select>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="1" data-type="list1" data-target="data-source-list" data-nextapi="showDatas"  data-source="step2">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step2">
                <div class="c-div-header">
                    聚类属性选择
                </div>
                <div>
                    <table class="table table-striped" id="cluster-prop-table">
                        <thead>
                            <tr>
                                <td>选择</td>
                                <td>字段名称</td>
                                <td>字段含义</td>
                                <td>数据类型</td>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step1">上一步</button>
                        <button class="btn btn-d-blue" data-val="1" data-type="show" data-target="" data-nextapi="getDMAlg"  data-source="step3">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step3">
                <div class="c-div-header">
                    算法选择设置
                </div>
                <div>
                    <div>
                        <label for="">算法选择：</label>
                        <select name="" id="alg-select">
                            <option value="">算法选择</option>
                        </select>
                    </div>
                    <div id="alg-div">

                    </div>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step2">上一步</button>
                        <button class="btn btn-d-blue" data-val="1" data-type="get" data-nextapi="submitDMJob" data-source="step4">下一步</button>
                    </div>
                </div>
            </div>
            <div class="c-div hidden" id="step4">
                <div class="c-div-header">
                    结果分析
                </div>
                <div>
                    <div id="result-div"></div>
                    <div class="button-group">
                        <button class="btn btn-d-blue" data-val="0" data-source="step3">上一步</button>
                    </div>
                </div>
            </div>
        {{/if}}
    </script>
    <script type="text/html" id="alg-select-tmpl">
        <option value=-1>请选择</option>
        {{each Algs as value i}}
            <option value="{{value.id}}">{{value.algname}}</option>
        {{/each}}
    </script>
    <script type="text/html" id="alg-div-tmpl">
        {{each data as value i}}
            <div class="alg-single-div">
                <label class="alg-para" for="" data-name="{{value.para}}">{{value.para}}</label>
                <input class="alg-value" type="text">
            </div>
        {{/each}}
        
    </script>
    <!--放在最下面，如要更改位置，请保持基本顺序不变-->
    <script src="../js/sea.js"></script>
    <script>
        seajs.config({
            alias: {
                "jquery": "./jquery.min.js",
                "bootstrap": "./bootstrap.min.js"
            }
        });
        //这里更改接口路径 及相应的get/post方法
        seajs.use('../js/cluster.js', function(cluster){
            cluster.init({
                showDatas: {
                    url: '../json/showDatas.json',
                    type: 'get'
                },
                getDMAlg: {
                    url: '../json/getDMAlg.json',
                    type: 'get'
                },
                submitDMJob: {
                    url: '../json/submitDMJob.json',
                    type: 'get'
                },
                listDMJob: {
                    url: '../json/listDMJob.json',
                    type: 'get'
                },
                getDMJobRes: {
                    url: '../json/getDMJobRes.json',
                    type: 'get'
                }
            });
        });
    </script>
</body>
</html>
