<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAD移动互联网用户行为分析系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href=" ../css/img/favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="header clearfix">
        <div class="logo"></div>
        <!--标题写这里-->
        <h1>CAD移动互联网用户行为分析系统</h1>
    </div>
    <div class="menu-wrapper">
        <ul class="catalog">
            <!--如果要提示符的话，请注意data-toggle，data-placement[方向]和title的用法-->
            <li class="catalog-li normal">
                <span><i class="glyphicon glyphicon-file"></i>数据源管理</span>
            </li>
            <li class="catalog-li normal active">
                <span><i class="glyphicon glyphicon-file"></i>数据多级统计分析</span>
            </li>
            <!--可由data-toggle设置其类型是点击展开/折叠相应列表类型，注意data-target-->
            <li class="catalog-li" data-toggle="collapse"  data-target="#collapseOne">
                <span><i class="glyphicon glyphicon-adjust"></i>数据挖掘</span>
                <i class="absolute-down glyphicon glyphicon-chevron-down"></i>
            </li>
            <!--折叠列表即子列表，注意其id与data-target对应-->
            <!--类里加in即为展开，不加in即为折叠-->
            <ul class="panel-collapse collapse collapse-ul" id="collapseOne">
                <!--链接到相应子列表页面，可设置active类-->
                <li class="collapse-li active"><a href="">聚类</a></li>
                <li class="collapse-li"><a href="">分类</a></li>
            </ul>
            <li class="catalog-li normal">
                <span><i class="glyphicon glyphicon-cloud"></i>用户流量分群分析</span>
            </li>
            <li class="catalog-li normal">
                <span><i class="glyphicon glyphicon-cloud"></i>用户访问热点分析</span>
            </li>
        </ul>
    </div>
    <div class="footer">
        Copyright © CAD大数据中心
    </div>
    <div class="main-content">
        <!--你们的内容写在这里-->
        <h3>数据源管理</h3>
        <hr>
        <div class="c-div">
            <div class="c-div-header">
                数据源展示
                <button class="btn btn-d-blue upload-btn right" id="upload-file-btn">上传</button>
                <input type="file" style="display:none;" id="upload-file-input">
            </div>
            <table class="table table-striped" style="background: #FFF;">
                <thead>
                    <tr>
                        <td>名称</td>
                        <td>上传日期</td>
                        <td>大小</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


    </div>

    <!--页面模板-->
    <script type="text/html" id="data-source-table">
        {{each sources as item i}}
            <tr data-id="{{item.id}}">
                <td>{{item.name}}</td>
                <td>{{item.uploadtime}}</td>
                <td>{{item.size}}</td>
                <td>
                    {{if item.status == '100'}}
                        上传中
                    {{else if item.status == '101'}}
                        上传完成
                    {{else if item.status == '102'}}
                        上传失败
                    {{else if item.status == '200'}}
                        清洗中
                    {{else if item.status == '201'}}
                        清洗成功
                    {{else if item.status == '202'}}
                        清洗失败
                    {{/if}}
                </td>
                <td>

                    {{if item.status == '100'}}
                        --
                    {{else if item.status == '101'}}
                        <a href="javascript:void(0)" class="opt process">处理</a> |
                        <a href="javascript:void(0)" class="opt del">删除</a>
                    {{else if item.status == '102'}}
                        --
                    {{else if item.status == '200'}}
                        --
                    {{else if item.status == '201'}}
                        <a href="javascript:void(0)" class="opt view">查看</a> |
                        <a href="javascript:void(0)" class="opt del">删除</a>
                    {{else if item.status == '202'}}
                        --
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </script>
    <!--单行模板-->
    <script type="text/html" id="data-source-tr">
        <tr data-id="{{id}}">
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{size}}</td>
            <td>上传中</td>
            <td>--</td>
        </tr>
    </script>
    <!--查看模板-->
    <script type="text/html" id="view-source-table">
        <table class="table table-striped" style="background: #FFF;">
            <thead>
                <tr>
                    <td>字段名称</td>
                    <td>字段含义</td>
                    <td>数据类型</td>
                    <td>有效纪录数</td>
                    <td>最大值</td>
                    <td>最小值</td>
                    <td>平均值</td>
                    <td>标准差</td>
                    <td>偏度</td>
                </tr>
            </thead>
            <tbody>
                {{each detail as item i}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.meaning}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.max}}</td>
                        <td>{{item.min}}</td>
                        <td>{{item.avg}}</td>
                        <td>{{item.std}}</td>
                        <td>{{item.bias}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    <!--放在最下面，如要更改位置，请保持基本顺序不变-->
    <script src="../js/sea.js"></script>
    <script>
        seajs.config({
            alias: {
                "jquery": "./jquery.min.js",
                "bootstrap": "./bootstrap.min.js"
            }
        });
        //这里更改接口路径 及相应的get/post方法
        seajs.use("../js/main", function(source){
            source.init({
                listAllSources: {
                    url: '../json/listAllSources.json',
                    type: 'get'
                },
                uploadSource: {
                    url: '../json/uploadSource.json',
                    type: 'get'
                },
                cleanSource: {
                    url: '../json/cleanSource.json',
                    type: 'get'
                },
                delSource: {
                    url: '../json/delSource.json',
                    type: 'get'
                },
                showDatas: {
                    url: '../json/showDatas.json',
                    type: 'get'
                }
            });
        });
    </script>
</body>
</html>
